<div>
    <div class="" ng-model="knockoutSelectList">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Spelare</th>
                <th class="text-center">Placering</th>
            </tr>
            </thead>
            <tbody>
            <tr ng:repeat="player in players" ng-click="setSelected(player._id)" ng-class="{success: idSelectedPlayers.indexOf(player._id) > -1}" data-id="{{player._id}}">
                <td>{{player.username}}</td>
                <td ng-model="knockoutPlacing" class="text-center">{{idSelectedPlayers.indexOf(player._id) > -1 ? idSelectedPlayers.indexOf(player._id) + 1 : ''}}</td>
            </tr>
            </tbody>
        </table>
        <div class="pingpong-menu">
            <p><a class="btn btn-lg btn-primary btn-menu" ng-click="updateStandings(idSelectedPlayers)">Uppdatera ställning</a></p>
        </div>
    </div>
</div>