<div class="jumbotron container pingpong-menu">
    <table class="text-center">
        <tr>
            <td>{{user}}</td>
            <td>vs.</td>
            <td>{{opponent}}</td>
        </tr>
        <tr>
            <td><input type="text" ng-model="userResult" class="form-control text-center"/></td>
            <td>-</td>
            <td><input type="text" ng-model="opponentResult" class="form-control text-center"/></td>
        </tr>
    </table>
    <br/>
    <div class="pingpong-menu">
        <a ng-click="registerResult()"class="btn btn-menu btn-lg btn-primary">Uppdatera ställningen</a>
    </div>

</div>